{% extends "base.html" %}

  {% load static %}
  {% block content %}

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Bandlog</h1>
              <a id="discover-btn" href="#" class="btn">Discover</a><a id="charts-btn" href="#" class="btn">Charts</a><a id="community-btn" href="#" class="btn">Community</a>
            </div>
          </div>
        </div>
      </div>
    </header>
	  
    <section id="featured" class="content-section text-center">
      <div class="container">
        <div class="row">
          <h2>Featured Artists</h2>
        </div>
        <div class="row">
          <div id="featured-carousel" class="carousel slide carousel-fade" data-ride="carousel" style="width: 100%; margin: 0 auto">
              <ol class="carousel-indicators">
                {% for i in "x"|ljust:featured_num %}
                <li data-target="#featured-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% for artist in featured %}
                  {% if forloop.first %}
                    <div class="carousel-item active">
                  {% else %}
                    <div class="carousel-item">
                  {% endif %}
                    <div class="row">
                      <div class="col-sm-6">
                        {% if artist.img_path %}
                          <img class="d-block w-100 img-thumbnail" src="{{ artist.img_path }}" alt="{{ artist }}">
                        {% else %}
                          <img class="d-block w-100 img-thumbnail" src="{% static 'img/not-found.png' %}" alt="Image N/A">
                        {% endif %}
                      </div>
                      <div class="col-sm-6">
                        <div class="carousel-caption">
                          <div class="row">
                            <h1>
                              <a href="{% url 'artist_detail' artist.id %}">{{ artist.name }}</a>
                            </h1>
                          </div>
					                <div class="row">
                            <a href="#" class="btn-default">Genre</a><a href="#" class="btn-default">Genre</a><a href="#" class="btn-default">Genre</a>
				                  </div>
                          <div class="row">
                            {% if artist.bio %}
                              <p>{{ artist.bio }}</p>
                            {% else %}
                              <p>Description not available.</p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#featured-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#featured-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>
    </section>
    
    <section id="latest" class="content-section text-center">
      <div class="container">
        <div class="row">
          <h2>
            <a href="#">Latest Releases</a>
          </h2>
        </div>
        <div class="row">
          <div id="latest-carousel" class="card-carousel carousel slide carousel-fade" data-interval="false" data-wrap="false" style="width: 100%; margin: 0">
            <div class="carousel-inner row w-100 mx-auto">
            {% for group in latest %}
            {% if forloop.first %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}
              <div class="row">
                {% for album in group %}
                <div class="col-3">
                  <div class="card bg-transparent">
                    <a href="{% url 'album_detail' album.id %}">
                      <div class="card-img-wrap">
                        <img class="card-img-top img-cover" src="{{ album.img_path }}" alt="{{ album.title }}">
                      </div>
                    </a>
                    <div class="card-body">
                      <a href="{% url 'album_detail' album.id %}">
                        <h4 class="card-title">{{ album.title }}</h4>
                      </a>
                      {% for artist in album.artists.all %}
                      <a href="{% url 'artist_detail' artist.id %}">
                        <p class="card-text">{{ artist }}</p>
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#latest-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#latest-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>


    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Bandlog</h2>
            <p>Bandlog is a music archive where users can find new music, rate music and talk about music with other people!</p>
            <p>The website is modeled off of the Grayscale themed Bootstrap template, available <a href="https://startbootstrap.com/template-overviews/grayscale/">here.</a></p>
            <p>Some features have not been implemented yet, but the website is a work-in-progress!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Features Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Features</h2>
          <p>Implemented: Main page, viewing artist discographies and albums in detail, search queries</p>
          <p>Planned features: User ratings, profiles, discussions, genres, charts, (possibly) tags</p>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Info</h2>
            <p>If you want to contact me or give feeback, you can e-mail me at d.archibald84@gmail.com.</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/dharchibald" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>
  {% endblock content %}