body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  margin: 10px 0px; 
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 20px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

a:focus, a:hover {
  text-decoration: none;
  color: #e63946;
}

h2 > a {
  color: #fff;
}

table, th, td {
  table-layout: auto;
  padding: 5px 10px;
}

table {
  margin: 30px 0px;
}

th {
  background: #202020; 
}

th, td {
  border-bottom: 2px solid black; 
}

tr {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #383838;
}

.table-alt tr:nth-child(even) {
  background: #303030;
}

tr:hover {
  background: #202020 !important;
}

.item-tbl {
  width: 100%
  table-layout: fixed; 
}

.item-tbl, .img-td {
  width: 20%;
  padding: 20px;
}

.item-tbl, .title-td {
  width: 60%;
}

.item-tbl, .rating-td {
  width: 20%; 
}

.container img {
  max-width: 100%;
  max-height: 100%;
}

.card-img-wrap {
  overflow: hidden;
  transition: transform .25s ease-in-out; 
}

.card-img-wrap:hover {
   transform: scale(1.05);
}

.pagination {
  display: inline-block;
  font-size: 20px;
}

.pagination a {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a:hover {
  background: #383838; 
}

.pagination a.active {
   background: #4CAF50;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  margin: 0px 5px;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav input[type=search] {
  background: #ededed url("../img/search-icon.eb6e4dd954c9.png") no-repeat 9px center;
	border: solid 1px transparent;
	padding: 10px 10px 9px 32px;
  margin: 0px 20px;
	width: 15px;
  color: transparent;
  cursor: pointer;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#mainNav input[type=search]:hover {
  background-color: #fff; 
}

#mainNav input[type=search]:focus {
  width: 200px;
	background-color: #fff;
	border-color: #66CC75;
  color: #000;
  cursor: auto;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5); 
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bg.23c893eaa8ca.jpg") no-repeat center bottom scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 60%;
    padding: 100px;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.btn-collapse {
   width: 90%;
  padding: 5px;
}

.content-section {
  padding-top: 50px;
  padding-bottom: 150px;
}

.content-div {
  padding-top: 30px;
  padding-bottom: 50px;
}

.title {
  padding-top: 100px;
  padding-bottom: 0px;
}

.img-cover {
  width: 250px;
  height: 250px;
  object-fit: cover; 
  display: block;
}

.img-cover-lg {
  width: 400px;
  height: 400px;
}

.img-artist {
  border-radius: 50%; 
}

.img-thumbnail {
  height: 20vw;
  object-fit: cover;
  display: block;
}

.img-discog {
  width: 100px;
  height: 100px;
}

.download-section {
  color: white;
  background: url("../img/downloads-bg.cc21d65a2465.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  #map {
    height: 350px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 2px;
  color: #fff;
  background: #e63946;
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.btn:hover, .btn:focus {
  color: #ff4755;
  border: 2px solid #fff;
  background: transparent; 
}

.btn-default {
  color: #f06449;
  padding: 2px 5px;
  margin: 5px;
  border: 1px solid #f06449;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #f06449;
  outline: none;
  background-color: #f06449;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #000;
  margin-top: 0px;
}

.dropdown-menu a:hover {
  background-color: #F06449; 
}


footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* Bootstrap modifications */

.carousel-control-prev {
  margin-left: -12.5%;
}

.carousel-control-next {
  margin-right: -12.5%;
}

.card-carousel .carousel-control-prev,
.card-carousel .carousel-control-next {
  margin-top: -8%;
}

.card-carousel .carousel-inner {
  overflow: visible; 
}

#featured-carousel h1 {
  margin: 5px; 
}

#featured-carousel .img-thumbnail {
  height: 20vw; 
  object-fit: cover;
}

#featured-carousel .carousel-indicators {
  margin-right: 67%;
  bottom: -50px;
}

#featured-carousel .carousel-caption {
  text-align: left;
  text-overflow: ellipsis;
  height: 90%;
  padding: 0px;
}