<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    
    <!-- Custom styles for this template -->
    <link href="css/grayscale.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bandlog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a id="nav-browse" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse
              </a>
              <div class="dropdown-menu" aria-labelledby="nav-browse">
                <a class="dropdown-item" href="#">Genres</a>
                <a class="dropdown-item" href="#">Tags</a>
                <a class="dropdown-item" href="#">Recommended</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a id="nav-discuss" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Discuss
              </a>
              <div class="dropdown-menu" aria-labelledby="nav-discuss">
                <a class="dropdown-item" href="#">Recent</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Yet another action</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <div class="navbar-search">
              <form>
				        <input type="search" placeholder="Search...">
              </form>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <section id="artist-overview" class="content-section">
      <div class="container">
        <!-- Portfolio Item Heading -->
        <h2 class="title">Artist Name</h2>
        <!-- Portfolio Item Row -->
        <div class="row">
          
          <div class="col-md-6">
            <img class="img-thumbnail img-fluid center" src="http://placehold.it/750x500" alt="">
          </div>
          
          <div class="col-md-6">
            <h5 class="my-3">Members</h5>
            <h5>Formed</h5>
            <p>July 18, 1999</p>
            <h5 class="my-3">Average Rating</h5>
            <h6>4.13 / 5</h6>
            <h5 class="my-3">Genres</h5>
            <a href="#" class="btn-default">Genre</a><a href="#" class="btn-default">Genre</a><a href="#" class="btn-default">...</a>
            <h5>Tags</h5>
            <a href="#" class="btn-default">Tag</a><a href="#" class="btn-default">Tag</a><a href="#" class="btn-default">Tag</a><a href="#" class="btn-default">...</a>
          </div>
        </div>
      </div>
      
      <div class="container content-div">
        <h5 class="my-3">About</h5>
        <div class="read-more expanded" data-options="70">
          <p style="overflow: ellipsis;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit metus, facilisis eu odio et, tempor vehicula augue. Aenean ut diam ultricies, imperdiet metus tincidunt, condimentum ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam lobortis ligula eu placerat egestas. Praesent erat felis, pellentesque et tristique efficitur, euismod a leo. Sed lacinia at orci ut commodo. Mauris mattis tortor quis eros facilisis ullamcorper. Donec venenatis, nulla ac luctus condimentum, justo enim ullamcorper ligula, quis convallis nunc libero at lorem. Ut velit magna, imperdiet at mauris ut, suscipit pulvinar enim. In quis nunc ligula. Ut nisl. </p>
        </div>
      </div>
      
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#discog"><h5>Discography</h5></a>
          </li>
          <li>
            <a class="nav-link" data-toggle="tab" href="#credits"><h5>Credits</h5></a>
          </li>
        </ul>
        
        <div class="tab-content">
          <div id="discog" class="container tab-pane fade show active">
            <table class="discog-tbl" style="width: 100%;">
              <th colspan="3">
                Albums (Long Plays)
              </th>
              <tr>
                <td class="img-td">
                  <img class="img-cover img-discog mx-auto" src="http://placehold.it/750x500" alt="">
                </td>
                <td>
                  <div class="row">
                    <h6>Album Name</h6>
                  </div>
                  <div class="row">
                    Release Date
                  </div>
                </td>
                <td>5</td>
              </tr>
              <th colspan="3">
                Extended Plays
              </th>
              <tr>
                <td class="img-td">
                  <img class="img-cover img-discog mx-auto" src="http://placehold.it/750x500" alt="">
                </td>
                <td>
                  <div class="row">
                    <h6>Album Name</h6>
                  </div>
                  <div class="row">
                    Release Date
                  </div>
                </td>
                <td>5</td>
              </tr>
              <tr>
                <td class="img-td">
                  <img class="img-cover img-discog mx-auto" src="http://placehold.it/750x500" alt="">
                </td>
                <td>
                  <div class="row">
                    <h6>Album Name</h6>
                  </div>
                  <div class="row">
                    Release Date
                  </div>
                </td>
                <td>5</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Bear</td>
                <td>4</td>
              </tr>
            </table>
          </div>
          
          <div id="credits" class="container tab-pane fade">
            <p>hi</p>
          </div>
          
          
        </div>
        
      </div>
    </section>
      
      <!-- Similar Artists Row -->
      <section id="latest" class="content-section text-center">
      <div class="container">
        <div class="row">
          <h2>
            <a href="#">Similar Artists</a>
          </h2>
        </div>
        <div class="row">
          <div id="latest-carousel" class="card-carousel carousel slide carousel-fade" data-interval="false" data-wrap="false" style="width: 100%; margin: 0">
            <div class="carousel-inner row w-100 mx-auto">
              
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-3">
                    <div class="card bg-transparent">
                      <div class="card-img-wrap">
                        <img class="card-img-top img-cover img-artist" src="http://thelimitedpress.com/wp-content/uploads/2014/05/either-or.jpg" alt="Card image 1">
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Album Name</h4>
                        <p class="card-text">Artist Name</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card bg-transparent">
                      <div class="card-img-wrap">
                        <img class="card-img-top img-cover img-artist" src="https://images-na.ssl-images-amazon.com/images/I/91VCtSQ1uwL._SL1425_.jpg" alt="Card image 2">
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Album Name</h4>
                        <p class="card-text">Artist Name</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card bg-transparent">
                      <div class="card-img-wrap">
                        <img class="card-img-top img-cover img-artist" src="img/img-3.jpg" alt="Card image 3">
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Album Name</h4>
                        <p class="card-text">Artist Name</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card bg-transparent">
                      <div class="card-img-wrap">
                        <img class="card-img-top img-cover img-artist" src="img/img-3.jpg" alt="Card image 3">
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Album Name</h4>
                        <p class="card-text">Artist Name</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <a class="carousel-control-prev" href="#latest-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#latest-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/grayscale.js"></script>
    <script>
      $('.read-more').readMore();
    </script>

  </body>

</html>
