{% extends "base.html" %}
	
	{% load static %}
  {% block content %}

    <!-- Page content -->
    <div class="title">
      <div class="container">
        <h2>Search results for '{{ query }}'</h2>
        <p>1-21 entries out of 206</p>
        </div>
    </div>

    <div class="content-section">
      <div class="container">
        <table class="item-tbl" style="width: 100%;">
          <th colspan="3">
            Artists
          </th>
          {% for item in items %}
          <tr>
            <td class="img-td">
              {% if item.img_path %}
                <img class="img-cover img-discog img-artist mx-auto" src="{{ item.img_path }}" alt="{{ item }}">
              {% else %}
                <img class="img-cover img-discog img-artist mx-auto" src="{% static 'img/not-found.png' %}" alt="Image not found">
              {% endif %}
            </td>
            <td class="title-td">
              <div class="row">
                <h6>
                  <a href="{% url 'artist_detail' item.id %}">{{ item }}</a>
			          </h6>
              </div>
              <div class="row">
			          {% if item.country %}
                  {{ item.country }}
                {% endif %}
              </div>
            </td>
            {% if item.avg_rating %}
              <td class="rating-td">{{ item.avg_rating }}</td>
            {% else %}
              <td class="rating-td">?</td>
            {% endif %}
          </tr>
          {% endfor %}
		    </table>
        
		    <h5><a href="{% url 'artist_create' %}"><img src="img/plus-icon.png"> Add an artist</a></h5>
		  
	    </div>
	  </div>

  {% endblock content %}